@{
    ViewBag.Title = "Contact me!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Fake Street<br />
    Springfield<br />
    <abbr title="Phone">Ph:</abbr>
    617 2000
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:email@email.ie">email@email.com</a><br />
    <strong>Facebook:</strong> <a href="mailto:email@facebook.com">email@facebook.com</a>
</address>