@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Geography Project</h1>
    <p class="lead">This is my geography based project which will show countries, cities, features and languages.</p>
    <p><a href="http://www.geography.com" class="btn btn-primary btn-lg">Geography link &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Learn How To Build This Site!</h2>
        <p>Click here to open a PDF file with a step by step guide on creating a similar site to this.</p>
        <p><a class="btn btn-default" href="https://moodle.ncirl.ie/pluginfile.php/39683/mod_resource/content/1/Getting%20Started%20with%20Entity%20Framework%206%20Code%20First%20using%20MVC%205.pdf">Click Here! &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Download it</h2>
        <p>You can download a complete project from the Microsoft Code Gallery.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Applicationb01a9fe8">Download &raquo;</a>
        </p>
    </div>
</div>